{% extends 'base.html.twig' %}

{% block content %}
    <div class="container my-1 pb-2 bg-light rounded" style="width: 25rem;">
        <div class="row ml-1 align-items-center">
            <p class="mt-4">Избраните опции са:</p>
        </div>
        <hr>
        <div class="row">
            <ul>
                <li>
                    Потребител: {{ usrname }}
                </li>
                <li>
                    Име на файла: {{ fname }}
                </li>
                <li>
                    Избрана опция за сървъра: {{ onlyOpt }}
                </li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <div class="p-3 mb-2 bg-secondary text-white">
                <p>След като натиснете бутона генерирай трявба да изчакате сървъра да генерира изображенията. След това автоматично ще бъдете прехвърлени към страницата за изтелгяне на изображенията.
                </p>
            </div>
        </div>
        <hr>
        <a class="btn btn-success text-center" href="{{ path('generate',{'id': filee.id,'opt':onlyOpt}) }}">Генерирай</a>
        <br>
    </div>

{% endblock %}