{% extends 'base.html.twig' %}
{% block title %}  {% endblock %}

{% block body %}
    {# <div class="overflow-auto"> #}
    {# <div class="jumbotron jumbotron-fluid "> #}
    <div class="container-fluid bg-light text-center">
        <h3 class="display-5">Здравейте!</h3>
        <p class="lead">Добре дошли в SnapMap! Това е сайт, който Ви ползволява автоматизирано да извличате географски
            данни по предварително зададен маршрут. </p>
        <p class="lead"> Препоръчваме Ви да използвате <a href="https://www.gpxgenerator.com/"> www.gpxgenerator.com</a>
            като най-надежден генератор.</p>
        <p class="lead"> Можете да последвате стъпките в инструкциите.</p>
    </div>
    {# </div> #}

    <div class="container">
        <div class="row mt-1">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="card bg-light">
                    <div class="card-header" style="text-align: center">Основни инструкции</div>
                    <div class="card-body">
                        <h5 class="card-title">Стъпки:</h5>
                        <ol>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Преименувайте сваленият от вас .gpx файл с удобно за вас име (пример:
                                    simeon.gpx).
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Добавете файла с маркираните от вас маршрутни точки.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Изберете желаните от вас опции за генерирането на изображенията.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Изчакайте изображенията да бъдат генерирани.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Свалете архива с вашите изображения.
                                </div>
                            </li>
                        </ol>
                        <div class="col-md-12 text-center">
                            <a class="btn btn-primary" href="{{ path('app_upload_index') }}" role="button">Продължете...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {# </div> #}
{% endblock %}