{% extends 'base.html.twig' %}
{% block title %}  {% endblock %}

{% block content %}
    <div class="container-fluid bg-light text-center">
        <h3 class="display-5">Здравей!</h3>
        <p class="lead">Добре дошлъл в SnapMap! Това е сайт, който ти ползволява автоматизирано да извличаш географски
            данни по предварително зададен маршрут. </p>
        <p class="lead"> <u>Препоръчваме ти да използваш <a href="https://www.gpxgenerator.com/" target="_blank"> www.gpxgenerator.com</a>
                като най-надежден генератор.</u></p>
        <p class="lead"> Можеш да последваш стъпките в инструкциите.</p>
    </div>


    <div class="container d-flex h-100 justify-content-center">
        <div class="row mt-1">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="card bg-light">
                    <div class="card-header" style="text-align: center">Основни инструкции</div>
                    <div class="card-body">
                        <h5 class="card-title">Стъпки:</h5>
                        <ol>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Преименувай сваления .gpx файл с удобно за теб име (пример:
                                    simeon.gpx).
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Добави файла с маркираните маршрутни точки.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Избери желаните опции за генерирането на изображенията.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Изчакай изображенията да бъдат генерирани.
                                </div>
                            </li>
                            <li>
                                <div class="my-2 p-2 border rounded bg-warning">
                                    Свали архива с твоите изображения.
                                </div>
                            </li>
                        </ol>
                        <div class="col-md-12 text-center">
                            <a class="btn btn-primary" href="{{ path('app_upload_index') }}" role="button">Kaчи файл</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}